$gray: hsla(197, 13%, 19%, 0.8);
$sideW: 22%;
$trans: -57.1%;
$trans-dist: -75%;
$rot: -90deg;
$fontC: white;
$sideMenu_text: #777;
$btn_Bg: #C4C4C7;
$btn_HoverBg: #7a7a7f;
$dropShadow: #999;

html,
body {
  font-family: 'Avenir Next', Avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: lighter;
  -webkit-font-smoothing: antialiased;
}

.list__item:hover:before{
  // on Playlists hover
  transition: all .16s cubic-bezier(0.4, -0.4, 0.57, 1.46);
  color: red;
}
.list__item:hover:after{
  // on Playlists hover
  color: blue;
}
