$gray: hsla(197, 13%, 19%, 0.8);
$red: random(256)-1;
$green: random(256)-1;
$blue: random(256)-1;

.artistEntry a{
  position: absolute;
  font-size: 25px;
  z-index: 2;
}

#content-wrapper::-webkit-scrollbar {
  display: none;
}
.content-nav {
    position: relative;
    top: 0;
    margin: 0;
    padding: 0;
    list-style: none;
}
.content-nav li {
    position: relative;
    line-height: 20px;
    display: inline-block;
    width: 100%;
}
.content-nav li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 3px;
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;

}
// .content-nav li:first-child a {
//     background-color: #ffd72d;
// }
.content-nav li:nth-child(n):before {
    background-color: #ffd72d;
}
// .content-nav li:nth-child(2):before {
//     background-color: #ec1b5a;
// }
// .content-nav li:nth-child(3):before {
//     background-color: #79aefe;
// }
// .content-nav li:nth-child(4):before {
//     background-color: #314190;
// }
// .content-nav li:nth-child(5):before {
//     background-color: #279636;
// }
// .content-nav li:nth-child(6):before {
//     background-color: #7d5d81;
// }
// .content-nav li:nth-child(7):before {
//     background-color: #ead24c;
// }
// .content-nav li:nth-child(8):before {
//     background-color: #2d2366;
// }
// .content-nav li:nth-child(9):before {
//     background-color: #35acdf;
// }
.content-nav li:hover:before,
.content-nav li.open:hover:before {
    width: 100%;
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;

}

.content-nav li a {
    display: block;
    text-decoration: none;
    padding: 10px 15px 10px 30px;
}

.content-nav li a:hover,
.content-nav li a:active,
.content-nav li a:focus,
.content-nav li.open a:hover,
.content-nav li.open a:active,
.content-nav li.open a:focus{
    text-decoration: none;
    background-color: transparent;
}
