// $btn_Bg: #C4C4C7;
// $btn_HoverBg: #7a7a7f;

.events {
  padding-top: 5em;
  padding-left: 4%;
  text-transform: uppercase;

  h1 {  // Events tab header
    padding: 1em;
    margin: 0;
    width: 16.04em;
    background: $btn_Bg;
    color: $fontC;
    box-shadow: 0em 0em 0.7em -0.2em #999;
    font-size: 1.13em;
    font-weight: 700;
    text-align: center;
  }

  .form-venueBtn,
  .form-artistBtn {  // Buttons to toggle between quering by venue || artist
    cursor: pointer;
    padding: .7em 2em 1em 2em;
    color: $fontC;
    background-color: $btn_Bg;
    letter-spacing: .14em;
    font-weight: 700;
    box-shadow: 0em 0em 0.666em -.2em $dropShadow;
    outline: none;
    &:hover {  // Sidebar tab hover color
      color: $btn_HoverBg;
    }
  }
}

.events-venues {
  font-family: 'Avenir Next', Avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #555;
  line-height: 1;
  font-size: 1em;
  display: block;
}

.search-button {
  position: relative;
  float: right;
  margin-right: 4%; 
  bottom: 0;
  cursor: pointer;
  padding: 1em 2em 1em 2em;
  color: white;
  background-color: #C4C4C7;
  text-transform: uppercase;
  letter-spacing: .14em;
  font-weight: 700;
  box-shadow: 0em 0em 0.666em -0.2em #999;
  outline: none;
  border: none;
  &:hover {
    color: $btn_HoverBg;
  }
}
.start-date {
  padding-bottom: 1%;
}

.date-picker {
  padding-top: 2em;
  font-size: 1em;
  font-family: inherit;
  font-weight: 400;
  text-align: center;

  .start-date-picker {
    background-color: $btn_Bg;
    outline: none;
    border-style: inset;
    text-align: center;
    border: 1px solid #999;
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .end-date-picker {
    background-color: $btn_Bg;
    outline: none;
    border-style: inset;
    text-align: center;
    border: 1px solid #999;
    padding-top: 5%;
    padding-bottom: 5%;
  }

}
