.footer-div {  // Footer container
  background-color: #515158;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 9.5em;
  width: 22.4em;
  margin: 0;
  overflow: hidden;
  z-index: 1;
  box-shadow: 0em -0.1em 0.8em 0 #999;
  position: fixed;
}  // End of Footer

.artistName{
  font-size: 1.1em;
  position: absolute;
  padding: 1em;
  z-index: 1;
  margin: 0;
  color: black;
  text-shadow: 1px 1px 2px white, 0 0 25px #eee, 0 0 5px #999;
}

.trackName{
  font-size: 0.9em;
  position: absolute;
  padding: 2em;
  z-index: 1;
  margin: 0;
  color: black;
  text-shadow: 1px 1px 2px white, 0 0 25px #eee, 0 0 5px #999;
}

.albumImage{
  z-index: 0;
  width: inherit;
  position: absolute;
  top: 0;
}

.audioPlayer{
  position: absolute;
  width: inherit;
  opacity: 0.3;
  bottom: 0;
  right: 0;
}

.logos {
  background: white;
  .spotify-logo {
    width: 50%;
    padding-left: .7em;
    padding-top: .3em;
  }
  div {
    font-weight: bolder;
    padding-left: .7em;
    padding-top: .45em;
    color: #777;
    font-size: 1.2em;
  }
  .jambase-logo {
    width: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0 0.7em 0.6em 0;
  }
  .visjs-logo {
    width: 15%;
    position: absolute;
    bottom: 3.9em;
    left: 14.1em;
  }
  .reactjs-logo {
    width: 35%;
    position: absolute;
    bottom: 5.1em;
    left: 17.6em;
    transform: rotate(16deg);
  }
  .nodejs-logo {
    width: 40%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 0 .7em .85em;
  }
  .footer-vignette {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .2;
    pointer-events: none;
    cursor: default;
  }
}
