$gray: hsla(197, 13%, 19%, 0.8);
$sideW: 22%;
$trans: -57.1%;
$trans-dist: -75%;
$rot: -90deg;
$fontC: white;
$btn_Bg: #C4C4C7;
$btn_HoverBg: #7a7a7f;
$dropShadow: #999;

html,
body {
  position: absolute;
  background-color: $gray;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  // font-family: 'Roboto Condensed', sans-serif;
  // font-family: 'Avenir Next', Avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-family: 'Avenir Next', sans-serif;
  font-size: 1em;
  font-weight: lighter;
  -webkit-font-smoothing: antialiased;
}

#react-root {  // main parent for everything other than vis's canvas
  background-color: $gray;
  position: relavent;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  .login {  // login button
    position: absolute;
    cursor: pointer;
    z-index: 2;
    top: .3em;
    left: .3em;
    color: $fontC;
    padding: 1em;
    background-color: $btn_Bg;
    border: none;
    letter-spacing: .12em;
    font-weight: 600;
    text-transform: uppercase;
    font-size: .9em;
    box-shadow: .1em .2em .7em -0.2em $dropShadow;
    outline: none;
    &:hover {
      color: $btn_HoverBg;
    }
  } // End of Login || Logout Button

  .logout {  // logout button
    position: absolute;
    cursor: pointer;
    z-index: 2;
    top: .3em;
    left: 9.85em;
    color: $fontC;
    padding: 1em;
    background-color: $btn_Bg;
    border: none;
    letter-spacing: .12em;
    font-weight: 600;
    text-transform: uppercase;
    font-size: .9em;
    box-shadow: .1em .2em .7em -0.2em $dropShadow;
    outline: none;
    &:hover {
      color: $btn_HoverBg;
    }
  } // End of Login || Logout Button

  .userImage {  // User Image
    position: absolute;
    z-index: 2;
    top: .2em;
    left: .2em;
    padding: .1em;
    width: 8.1em;
    border: solid .1em #ccc;
    box-shadow: .1em .2em .7em -0.2em $dropShadow;
  }
  .userName {  // User Name text
    position: absolute;
    z-index: 2;
    top: .2em;
    color: #515158;
    left: 35%;
    letter-spacing: .12em;
    font-weight: 600;
    text-transform: uppercase;
    font-size: .9em;
    font-style: oblique;
  }
  .collapse-button {  // toggle side menu button
    position: absolute;
    width: 3.4em;
    height: 3.45em;
    right: 22.35em;
    z-index: 2;
    top: 0;
    transition: transform 1s;
    padding: 0;
    margin: 0;
    background-color: $btn_Bg;
    &.closed {  // on closed side menu
      right: 3.45em;
      transform: translate(100%);
      i {  // rotate icon opositely
        transform: rotate(180deg);
        transition: transform 5s;
      }
    }

    i {  // toggle side menu button font-awesome icon
      position: absolute;
      cursor: pointer;
      padding: 1.19em;
      padding-bottom: 1.25em;
      color: $fontC;
      transition: transform .5s;
      width: 1em;
      height: 1em;
      margin: 0;
      fill: currentColor;
      box-shadow: -.15em -.1em 0.7em -.2em $dropShadow;
      &:hover {  // icon on hover
        color: $btn_HoverBg;
      }
    }
    .fa {  // center icon text
      text-align: center;
    }

  } // End of Collapse Button

  .nav-side-menu {  // side menu div parent - holds all components in the side menu
    position: absolute;
    top: 0;
    bottom: 0;
    right: 22.4em;
    background: #666;
    transition: transform 1s;
    z-index: 2;

    #content-wrapper {  // side menu div wrapper parent for all tabs components
      position: absolute;
      background-color: #FFFFFF;
      height: 77.5%;
      width: 20.4em;
      top: 3.45em;
      right: -22.4em;
      margin: 0;
      padding: 1em 1em 2em 1em;
      max-height: 100%;

      #scroll-area{  // ul container for all text
        margin: 0;
        padding: 0;
        max-height: 100%; //test
        overflow-x: auto;
        top: initial;
        right: initial;
        height: initial;
        max-height: 100%;
        // .action,
        // .recognized,
        .list__item,
        .playlists {  // for artist and playlists's components text styling
          //  first tear down the chain > "Artists" || "Playlists" names
          cursor: pointer;
          line-height: 1;
          font-weight: 400;
          font-size: 2em;
          top: inherit;
          left: inherit;
          right: inherit;
          bottom: inherit;

          ul {  // second tear down the chain, container for > "Albums" names
            padding: inherit;
            list-style: none;
            line-height: 1;
            font-size: .75em;
            color: #555;
          }
          ul li{  // styling for the album names
            padding: inherit;
            padding-bottom: .5em;
            font-weight: 400;
            color: #555;
            ul {  // third tear down the chain, container for > "Tracks" names
              color: #555;
              li {  // styling for the track names
                font-size: .8em;
                line-height: 1.35em;
                color: #555;
              }
            }
          }
        }
        .list__item ul li:hover,  // on Albums || Tracks hover
        .playlists ul li:hover{  // on Playlists hover
          color: #ff9900;
        }
      }
      .events {  // Events Tab
        position: absolute;
        top: 0;
        padding-top: 1em;

        h1 {  // Events tab header
          padding: 1em;
          margin: 0;
          width: 16.04em;
          background: $btn_Bg;
          color: $fontC;
          box-shadow: 0em 0em 0.7em -0.2em #999;
          font-size: 1.13em;
          font-weight: 700;
          text-align: center;
          font-style: oblique;
        }

        .form-venueBtn,
        .form-artistBtn {  // Buttons to toggle between quering by venue || artist
          cursor: pointer;
          padding: .7em 2em 1em 2em;
          color: $fontC;
          background-color: $btn_Bg;
          text-transform: uppercase;
          letter-spacing: .14em;
          font-weight: 700;
          box-shadow: 0em 0em 0.666em -.2em $dropShadow;
          outline: none;
          &:hover {  // Sidebar tab hover color
            color: $btn_HoverBg;
          }
        }

        .form-search {
          position: absolute;
          top: 6.7em;
          width: 20.4em;
          box-sizing: border-box;
          font-size: 1em;
          background-color: #515158;
          outline: none;
          color: $fontC;
          font-weight: 400;
          border: 1px solid #dedede;
          padding: 1em;
          &:focus {
            transition: all 1.4s ease;
            background-color: #3c3c3c;
          }
        }
      }  // End of events tab

      .events-modal {  // Events Modal pop-up
        position: fixed;
        top: 50.18%;
        left: 40%;
        height: 75%;
        width: 65%;
        transform: translate(-50%, -50%);
        z-index: 3;
        overflow-y: auto;
        box-shadow: 0.15em 0.15em 1.15em 0.1em #828282;

        #gradient-style {  // Table container
          width: 100%;
          font-size: 1.13em;
          font-weight: 500;
          text-align: left;
          letter-spacing: .1em;
          border-collapse: collapse;
        }

        #gradient-style th {  // Table Header
          font-size: 1.13em;
          font-weight: normal;
          padding: 8px;
          background: $btn_Bg;
          border-top: 2px solid #8a8a8a;
          border-bottom: 1px solid #313131;
          font-style: oblique;
          font-weight: 700;
          color: black;
        }

        #gradient-style td {  // Table Content
          padding: 8px;
          color: rgb(66, 66, 66);
          background: $btn_Bg;
          border-top: 1px solid #8a8a8a;
          border-bottom: 1px solid #313131;
        }

        #gradient-style tfoot {  // Table footer
          tr td{
            font-size: 1.13em;
            font-style: oblique;
            color: rgb(66, 66, 66);
          }
        }

        #gradient-style tbody tr:hover td {  // On Hover
          background: #a7a7a7;
          color: $fontC;
        }
      }  // End of events modal

      .events-backdrop {  // Backdrop shadow when Modal is active
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        z-index: 3;
        background: rgba(0, 0, 0, 0.3);
      }
    } // End of content-wrapper

    .artist-lookup {  // searchbar
      position: fixed;
      z-index: 2;
      top: 0;
      margin: 0;
      height: 1.1em;
      width: 18.4em;
      right: 0;
      padding: 1.17em 2em;
      color: #fff;
      font-weight: 400;
      font-size: initial;
      border: 0;
      outline: none;
      background: #515158;
      &:focus {
        transition: all 1.4s ease;
        background-color: #3c3c3c;
      }
    }  // End of SearchBar

    .content-tabs {  // Sidebar tab buttons parent
      position: absolute;
      z-index: 2;
      top: 22.8em;
      right: -18.25em;
      width: 39.9em;
      transform: rotate($rot);// translate($trans, $trans-dist);

    }  // End of Content Tabs

    .tab-btn {  // Sidebar tab buttons
      cursor: pointer;
      margin-right: .2em;
      padding: 1em 2em 1em 2em;
      color: $fontC;
      background-color: $btn_Bg;
      text-transform: uppercase;
      letter-spacing: .14em;
      font-weight: 700;
      box-shadow: -.15em -.1em 0.7em -.2em $dropShadow;
      outline: none;
      &:hover {  // Sidebar tab hover color
        color: $btn_HoverBg;
      }

    }  // End of Tab Buttons

    .footer-div {  // Footer container
      background-color: #515158;
      position: absolute;
      bottom: 0;
      right: -22.4em;
      height: 9.5em;
      width: 22.45em;
      margin: 0;

    }  // End of Footer
  } // End of Side Menu

} // End of React Root

#network {  // Vis Container for the canvas
  background-color: #F0F0F0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

}  // End of Network
