// Variables
$neon: hsla(188, 100%, 50%, .8);
$gray: hsla(197, 13%, 19%, 0.5);

// Styles
html,
body {
  background-color: $gray;
  height: 100%;
  padding: 0;
  margin: 0;
  z-index: -1;
}

canvas {
  background-color: $gray;
  position: relative;
  /*min-height: 100%;*/
  min-height: 100%;
  /*z-index: 0;*/
}
#network{
  background-color: $gray;
  position: absolute;
  width: 100%;
  height: 100%;
  /*top: 0;
  left: 0;*/
  /*z-index: 1;*/
}
#network.vis-network{
  background-color: $gray;
  position: relative;
  min-height: 100%;
  /*height: auto !important; /* real browsers */
  /*min-height: 100%;*/
  /*z-index: 1;*/
}

#search-form {
  background-color: $gray;
  position: relative;
  float: right;
  font-size: 25px;
  font-style: italic;
  font-weight: bold;
  color: $neon;
  z-index: 2;
  transition: box-shadow .5s;
}
#search-form:hover{
  box-shadow: 5px 5px 15px black;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $neon;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $neon;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $neon;
}
:-moz-placeholder { /* Firefox 18- */
  color: $neon;
}
