.artists{
  overflow-y: auto;
  background-color: #FFFFFF;
  width: 19.47em;
  top: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  padding: 4.5em 1em 10.6em 1.9em;

  .list__artists h1{
    color: $sideMenu_text;
    cursor: pointer;
    margin: 0;
    padding-bottom: .7em;
    line-height: 1;
    font-size: 2em;
    font-weight: 500;
  }

  .list__albums{
    font-weight: 400;
    font-size: 1.5em;
    margin-bottom: -.4em;
    cursor: pointer;
    color: $sideMenu_text;
    padding-bottom: .09em;
  }

  ul {
    margin: 0;
    padding: 0;
    margin-bottom: .75em;
    padding-top: .25em;
  }

  ul li {
    list-style: none;
    font-size: .74em;
    color: $sideMenu_text;
  }
  .list__artists h1:hover,
  .list__albums div:hover,
  .list__albums ul li:hover{
    transition: all 0.1s cubic-bezier(0.4, -0.4, 0.63, 0.82);
    color: #222;
  }
}
