$bg-img: url('/img/vignette.png');
#network {  // Vis Container for the canvas
  background-color: #F0F0F0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: $bg-img;
  background-repeat: no-repeat;
  background-position: top left;
  background-position: -12em -10em;
  background-size: 119%;
}  // End of Network
