#network {  // Vis Container for the canvas
  background-color: #F0F0F0;
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: inset 0px 0px 20em 20px rgba(132, 132, 132, 0.6);
}  // End of Network
