// Variables
// $neon: hsla(188, 100%, 50%, .8);
$gray: hsla(197, 13%, 19%, 0.5);

.collapse-button:before,
.collapse-button:after,
.collapse-button {
  width: 50px; /* Set a specific width */
  // position: absolute;
  // float: right;
  background-color: $gray; /* Dark-grey background */
  // margin: 0;
  // top: 0;
  // right: 280px;
  // z-index: 2;
  transition: box-shadow .5s;
}
.collapse-button a {
  display: block; /* Make the links appear below each other instead of side-by-side */
  text-align: center; /* Center-align text */
  transition: all 0.3s ease; /* Add transition for hover effects */
  font-size: 30px; /* Increased font-size */
  // height: 41px;
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
}
.collapse-button a:hover {
  background-color: hsla(198, 13%, 19%, 0.81); /* Add a hover color */
  box-shadow: 5px 5px 15px $gray;
}
// .collapse-button:after.is-active {
//   #react-root {
//     flex: 0;
//   }
// }

// .active {
//   background-color: #4CAF50; /* Add an active/current color */
// }
// .glyphicon-align-justify{
//   padding-right: 65px;
//   padding-top:20px;
// }
