.login {  // login button
  position: absolute;
  cursor: pointer;
  z-index: 2;
  top: .3em;
  left: .3em;
  color: $fontC;
  padding: 1em;
  background-color: $btn_Bg;
  border: none;
  letter-spacing: .12em;
  font-weight: 600;
  text-transform: uppercase;
  font-size: .9em;
  box-shadow: .1em .2em .7em -0.2em $dropShadow;
  outline: none;
  &:hover {
    color: $btn_HoverBg;
  }
} // End of Login || Logout Button

.logout {  // logout button
  position: absolute;
  cursor: pointer;
  z-index: 2;
  top: .3em;
  left: 8em;
  color: $fontC;
  padding: 1em;
  background-color: $btn_Bg;
  border: none;
  letter-spacing: .12em;
  font-weight: 600;
  text-transform: uppercase;
  font-size: .9em;
  box-shadow: .1em .2em .7em -0.2em $dropShadow;
  outline: none;
  &:hover {
    color: $btn_HoverBg;
  }
} // End of Login || Logout Button

.userImage {  // User Image
  position: absolute;
  z-index: 2;
  top: .2em;
  left: .2em;
  padding: .1em;
  width: 6.5em;
  // border: solid .1em #ccc;
  box-shadow: .1em .2em .7em -0.2em $dropShadow;
}
.userName {  // User Name text
  position: absolute;
  z-index: 2;
  top: .2em;
  color: #515158;
  left: 35%;
  letter-spacing: .12em;
  font-weight: 600;
  text-transform: uppercase;
  font-size: .9em;
  font-style: oblique;
}
