<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>Music Graph</title>
</head>
  <body>
    <div id="react-root"></div>
    <div id="network"></div>
    <div id="sidebar-wrapper">
      <% include ./partials/_side_menu %>
    </div>
    <script src="<%= bundleSrc %>"></script>
  </body>
</html>
