<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>Music Graph</title>
</head>
  <body>
    <div id="react-root"></div>
    <script src="<%= bundleSrc %>"></script>
    <div id="network" style="height: 65vh;"></div>
  </body>
</html>
